<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.peck.android" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>


    <permission android:name="com.peck.android.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.peck.android.gcm.permission.C2D_MESSAGE"/>

    <application

        android:name=".PeckApp"
        android:allowBackup="true"

        android:icon="@drawable/ic_peck"
        android:label="@string/app_name"
        android:theme="@style/PeckTheme" >

        <meta-data android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIB-g2LHMGuQsbW5ILD_V1Wvwqrj0bLBGvgzGXnA" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id"
            />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.facebook.LoginActivity"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".activities.FeedActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.LocaleActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:exported="false"
            android:authorities="com.peck.android.provider.all"
            android:name=".PeckContentProvider"/>
        
        <receiver
            android:name=".receivers.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <service android:name=".services.GcmIntentService"/>


        <meta-data android:name="com.crashlytics.ApiKey" android:value="147270e58be36f1b12187f08c0fa5ff034e701c8"/>
    </application>

</manifest>
